/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
